/* 
css reset
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, textarea, input[type="text"],
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    vertical-align:baseline;
    background:transparent;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
body {
    line-height:1;
}
:focus {
    outline-width: 1px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}
nav ul,li {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    margin:15px 0;
    background-color: #ddd;
    border:0;
    height: 1px;
    line-height: 1px;
}
input, select {
    vertical-align:middle;
}
input[type=radio] {
    width: 15px;
    height: 15px;
}
h3{
    font-size: 16px;
    line-height: 18px;
    color: #535353;
}
h4{
    font-size: 14px;
    line-height: 16px;
    color: #707070;
}
h5{
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #7a7a7a;
}
img{
    vertical-align: middle;
}
hr{background-color: #ececec;border:0;height: 1px;}
input[type="text"]{height: 28px;line-height: 20px;padding: 4px 6px;border: 1px solid #e6e6e6;}
textarea{
    border: 1px solid #e6e6e6;
    padding: 5px;
}
label{position: relative;}
